.about-container {
    margin: 24px;
    padding: 32px;
}

h2 {
  font-weight: bolder;
  text-decoration: underline;
  text-underline-offset: 5px;
  color: #e4b61a;
}

h3 {
  font-weight: bolder;
  color: #f3d87f;
}
