
#change-log-body {
    font-family: 'Courier New', Courier, monospace;
}

#change-log-body h2 {
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    font-size: 35px;
    color: #e4b61a;
}
.general-log { 
    padding: 20px;
}
.general-log h3 {
    font-size: 20px;
    text-decoration: underline;
    text-underline-offset: 5px;  
}

.wilber-log {
    padding: 20px;
    color: rgb(234, 234, 234);
}

.wilber-log h3 {
    color: #ffecae;
    font-size: 20px;
    text-decoration: underline;
    text-underline-offset: 5px;   
}

.devin-log {
    padding: 20px;
    color: rgb(234, 234, 234);
}

.devin-log h3 {
    font-size: 20px;
    text-decoration: underline;
    text-underline-offset: 5px;
}

.joel-log {
    padding: 20px;
    color: rgb(234, 234, 234);
}

.joel-log h3 {
    font-size: 20px;
    text-decoration: underline;
    text-underline-offset: 5px;
}

#accessibility-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px; 
  }
  