#member-bio {
    border: 1px solid #e4b61a;
    padding: 20px;
}

.seperator {
    margin: 20px 0;
    background-color: rgb(233, 199, 115);
}

.intro {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}