#project-desc-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  padding: 25px;
  margin-top: 25px;
  margin-bottom: 25px;
}
#header-goals {
  font-size: 2.9em;
}

h2 {
  font-size: 2.5em;
  font-weight: bolder;
  color: #e4b61a;
  padding-top: 20px;
}

h3 {
    font-size: 1.4em;
  font-weight: bolder;
  color: #f3d87f;
}

.met {
  font-size: 1.6em;
  color: #a2e295;
  padding: 10px;
  margin-bottom: 20px;
}

.semi-met {
  font-size: 1.6em;
  color: #ffec82;
  padding: 10px;
  margin-bottom: 20px;
}

p {
    margin-top: 30px;
}