#home-page {
  margin: 10px;
}
body {
  background-color: rgb(4, 4, 4);
}

#homepage-img {
  border-radius: 5%;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.intro {
  display: flex;
  animation: fadeIn 4s;
  margin-left: 3%;
}

.intro-text {
  display: flex;
  flex-direction: column;
  width: 60%;
}

a.btn {
  background-color: #e4b61a;
  color: black ;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  width: 20%;
  display: inline-block;
  transition: background-color 0.2s ease, color 0.2s ease;
}

a.btn:hover {
  color: white;
  background-color: #b48e11;
}

#home-page h2 {
  font-size: 350%;
  color: #e4b61a;
}

#home-page p {
  font-size: 110%;
}

.middle-home-body {
  background-color: #1a1c20;
  display: flex;
  flex-direction: column;
  gap: 30px;
  height: 520px;
  padding: 10px;
  padding-top: 40px;
  padding-bottom: 130px;
}

.middle-home-body h3{
    font-size: 180%;
    text-align: center;
}

figcaption{
    text-align: center;
    padding-bottom: 10%;
    font-size: 120%;
}

#middle-imgs {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 100px;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

#developers-box {
  border: 10px solid #e4b61a;
  background-color: #1f1f1f;
  color: #fff;
  padding: 20px;
  width: 320px;
  margin: 50px auto;
  font-family: 'Roboto', sans-serif;
  text-align: center;
  border-radius: 15px;
  box-shadow: 0 0 15px rgba(228, 182, 26, 0.5);
}

.static-info {
  font-size: 18px;
  margin-bottom: 15px;
  font-weight: 700;
  color: #e4b61a;
}

#scrolling-names {
  height: 30px;
  overflow: hidden;
  position: relative;
}

#name-list {
  list-style: none;
  padding: 0;
  margin: 0;
  position: absolute;
  animation: scrollUp 6s linear infinite;
}

#name-list li {
  height: 30px;
  line-height: 30px;
  font-size: 16px;
}

/* Smooth scroll animation*/
@keyframes scrollUp {
  0% { top: 0; }
  33% { top: -30px; }
  66% { top: -60px; }
  100% { top: 0; }
}
