#validation-body {
  font-family: Arial, sans-serif;
  background-color: #fdfdfd;
  color: #333;
  padding: 0;
}

/* Adds spacing to elements */
.spacing {
  margin: 15px;
  padding: 15;
}

.report {
  text-align: center;
}

main {
  padding: 2rem;
}

h2 {
  text-align: center;
  margin-bottom: 2rem;
}

section {
  margin-bottom: 2rem;
}

section h3 {
  margin-bottom: 0.5rem;
  color: #444;
}

img {
  max-width: 100%;
  height: auto;
  border: 1px solid #ccc;
  border-radius: 5px;
  display: block;
  margin: 0 auto;
}

.html-validation {

}

.css-validation {
}