#member-bio {
    width: 100vw;
    height: 100vh;
}

#container {
    text-align: left;
}

#intro {
    display: flex;
    gap: 30px;
}

#name-intro {
    display: flex;
    flex-direction: column;
}

#bio {
    margin: 10px;
    margin-top: 60px;
}

#signature {
    font-family: "East Sea Dokdo", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 200%;
}