#member-bio {
    width: 100vw;
    height: 100vh;
}

#container {
    font-family: "Chonburi", serif;
    font-weight: 400;
    font-style: normal;
    text-align: left;
}

img {
    border-radius: 50%;
    box-shadow: 0 10px 12px;
}

a img:hover {
    transform: scale(1.10);
    box-shadow: 0 6px 14px 
}

#intro {
    display: flex;
    gap: 30px;
}

#name-intro {
    display: flex;
    flex-direction: column;
}

#bio {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    margin: 10px;
    margin-top: 60px;
}

#signature {
    font-family: "East Sea Dokdo", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 200%;
}